$white : #ffff;

.city-card-container{

    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 155px;
    height: 190px;
    .city-card-img{
        margin: 10px 10px 5px;
        width: 135px;
        height: 138px;
    }
    .city-card-heading{
        font-size: 12px;
        font-weight: 500;
    }
    .city-card-subheading{
        font-size: 13px;
        margin-bottom: 10px;
    }
}