$yellow-bg : #fae17e;

.city-promotion-container{
    background-color: $yellow-bg;
    text-align: left;
    width: 860px;
    padding: 20px;
    margin-top: 20px;
    .promotion-card-header{
        display: flex;
        width: 800px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .weather-text{
        font-size: 35px;
        font-weight: 300;
        margin: 10px 0px;
    }
    .description-text{
        font-size: 13px;
        font-weight: 500;
    }
}
